<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>

    <!--JQUERY CDN-->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.3.min.js" type="text/javascript"></script>

    <!--BOOTSTRAP CDN-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!--layer-->
    <script src="/static/layer/layer.js"></script>
    <!--fontawesome-->
    <script src="https://use.fontawesome.com/93725adc6b.js"></script>
    <link rel="stylesheet" href="">
    <style type="text/css" media="screen">
        i {
            color: white;
            margin-right: 8px;
        }
    </style>
</head>
<body>
    <h1 style="color: white; text-align: center">Hi</h1>
    
    <div style="text-align: center; margin-top: 38%">
        <a href="http://user.qzone.qq.com/845426589/main">
            <i class="fa fa-2x fa-qq" aria-hidden="true"></i>
        </a>
        <a href="https://www.facebook.com/profile.php?id=100007532838977">
            <i class="fa fa-2x fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/R-o-y">
            <i class="fa fa-2x fa-github" aria-hidden="true"></i>
        </a>
        <a href="https://royl8.wordpress.com">
            <i class="fa fa-2x fa-wordpress" aria-hidden="true"></i>
        </a>
        <a href="https://blog.nus.edu.sg/roy8/">
            <i class="fa fa-2x fa-university" aria-hidden="true"></i>
        </a>
    </div>
        
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
    <script>
    {% load static from staticfiles %}
    $.backstretch("{% static "logo.jpg" %}");
    </script>
</body>
</html>